*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #eee;
}
#lottery{
	text-align: center;
}
#lottery h1{
	width: 400px;
	height: 100px;
	margin: 100px auto 20px;
	text-align: center;
	color: red;
}
#lottery input{
	width: 60px;
	height: 40px;
	font-weight: bold;
	font-size: 14px;
	font-family: "微软雅黑";
	margin: 0 20px;
	background-color: #00bfff;
}